@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center my-5">
    <h1 class="display-4 text-primary">Bienvenido a Prueba_Myper</h1>
    <p class="lead">
        Administra trabajadores eficientemente con nuestra plataforma web construida en
        <strong>ASP.NET Core</strong>.
    </p>
    <a class="btn btn-outline-primary btn-lg mt-3" href="/Trabajadores">
        Ir a Gestión de Trabajadores
    </a>
</div>
